
  /* //////////////////////////
 // Preferences
////////////////////////// */
#fogbugz-helper-prefs-menu,
#fogbugz-helper-features-menu {
  padding: 0;
  margin: .5em 1em;
}

#fogbugz-helper-prefs-menu {
  padding-bottom: .5em;
  margin: .5em 0;
}

#fogbugz-helper-prefs-menu input {
  margin-right: .5em;
  vertical-align: text-top;
}

#fogbugz-helper-prefs-menu label {
  display: block;
  padding: 0 12px;
}

#fogbugz-helper-prefs-menu label:hover {
  background-color: #E0E9F1;
}

#header.thunder-header .dropdown-menu #fogbugz-helper-menu a {
  color: #39668e;
  font-weight: bold;
}

#header.thunder-header .dropdown-menu #fogbugz-helper-menu a:hover,
#header.thunder-header .dropdown-menu #fogbugz-helper-menu a:focus {
  text-decoration: underline;
}

.fogbugz-helper-tool {
  padding: .75em 0;
  border-top: 1px solid #bac2cc;
}

.fogbugz-helper-headline {
  margin: 0 0 .25em 0;
}

  /* //////////////////////////
 // Use Stylesheet (for debugging)
////////////////////////// */
#fogbugz-helper-css {
  content: "loaded";
}

  /* //////////////////////////
 // Hotkeys
////////////////////////// */

.fogbugz-helper-hotkeys input {
  width: 4em;
  margin-left: .5em;
}

.fogbugz-helper-hotkey {
  margin: .5em 0;
}

.fogbugz-helper-hotkeys-wrapper {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 100001;
  padding: 2em 0;
}

.fogbugz-helper-hotkeys-modal {
  background: #fff;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
  display: table;
}

.fogbugz-helper-hotkey-input-wrapper {
  display: inline-block;
  width: 3em;
  margin-right: .5em;
  font-weight: bold;
}

  /* //////////////////////////
 // Add background colors
////////////////////////// */

/* Need this here and in the modal ticket */
.fogbugz-helper-bgcolors #case-errors-container {
  background: #fff;
  padding: 1em;
  margin-bottom: .5em;
  border-radius: .5em;
}

.fogbugz-helper-bgcolors #header.thunder-header .main-header-bar {
  background: rgba(255, 255, 255, .85);
}

.fogbugz-helper-bgcolors #header.thunder-header .secondary-nav .menus {
  background: transparent;
}

.fogbugz-helper-bgcolors #header.thunder-header .button {
  background: rgba(255, 255, 255, .85);
}

.fogbugz-helper-bgcolors #belowBanner,
.fogbugz-helper-bgcolors #header #below-banner #below-nav {
  background: rgba(255, 255, 255, .85);
}

.fogbugz-helper-bgcolors #toolbar {
  background: rgba(255, 255, 255, .85);
  padding: .25em .5em;
  border-radius: .25em;
  line-height: 2;
}

.fogbugz-helper-bgcolors #box div.col {
  background: rgba(255, 255, 255, .9);
}

.fogbugz-helper-bgcolors #box div.li div.header {
  background: rgba(255, 255, 255, .9);
}

.fogbugz-helper-bgcolors #www-fogcreek-com-fogbugz,
.fogbugz-helper-bgcolors #main2,
.fogbugz-helper-bgcolors #main {
  color: #fff;
}

.fogbugz-helper-bgcolors #www-fogcreek-com-fogbugz div div,
.fogbugz-helper-bgcolors #main2 * div,
.fogbugz-helper-bgcolors #main * div {
  color: #000;
}

/* Colors */
#header li.fogbugz-helper-colors {
  padding: 0 1em;
}

.fogbugz-helper-colors button {
  margin: 2px;
  border-width: 1px;
}

.fogbugz-helper-colors input {
  display: block;
}

  /* //////////////////////////
 // Open Tickets in Modal
////////////////////////// * /

.fogbugz-helper-tickets-in-modal

*/

  /* //////////////////////////
 // Auto Sort 
////////////////////////// */
.fogbugz-helper-auto-sort #main2 .case-list {
  display: flex;
  flex-direction: column;
}

.fogbugz-helper-auto-sort #main2 .case-list > * {
  order: 100;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Active"] {
  order: 0;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Active"] + div {
  order: 1;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Triage"] {
  order: 2;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Triage"] + div {
  order: 3;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Backlog"] {
  order: 4;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Backlog"] + div {
  order: 5;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Planning"] {
  order: 6;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Planning"] + div {
  order: 7;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Work"] {
  order: 8;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Work"] + div {
  order: 9;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Progress"] {
  order: 10;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Progress"] + div {
  order: 11;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Master"] {
  order: 12;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Master"] + div {
  order: 13;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Review"] {
  order: 14;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Review"] + div {
  order: 15;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="QA"] {
  order: 16;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="QA"] + div {
  order: 17;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Deploy"] {
  order: 18;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Deploy"] + div {
  order: 19;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Released"] {
  order: 20;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Released"] + div {
  order: 21;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Paused"] {
  order: 22;
}
.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Paused"] + div {
  order: 23;
}

  /* //////////////////////////
 // Fake Kanban
////////////////////////// */

.fogbugz-helper-fake-kanban-sorted #main .case-list,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list {
  display: flex;
  flex-direction: column;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list > *,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list > * {
  order: 100;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Active"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Active"] {
  order: 0;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Active"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Active"] + div {
  order: 1;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Triage"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Triage"] {
  order: 2;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Triage"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Triage"] + div {
  order: 3;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Backlog"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Backlog"] {
  order: 4;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Backlog"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Backlog"] + div {
  order: 5;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Planning"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Planning"] {
  order: 6;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Planning"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Planning"] + div {
  order: 7;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Work"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Work"] {
  order: 8;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Work"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Work"] + div {
  order: 9;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Progress"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Progress"] {
  order: 10;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Progress"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Progress"] + div {
  order: 11;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Master"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Master"] {
  order: 12;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Master"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Master"] + div {
  order: 13;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Review"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Review"] {
  order: 14;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Review"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Review"] + div {
  order: 15;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="QA"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="QA"] {
  order: 16;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="QA"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="QA"] + div {
  order: 17;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Deploy"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Deploy"] {
  order: 18;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Deploy"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Deploy"] + div {
  order: 19;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Released"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Released"] {
  order: 20;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Released"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Released"] + div {
  order: 21;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Paused"],
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Paused"] {
  order: 22;
}
.fogbugz-helper-fake-kanban-sorted #main .case-list [data-collapse-key$="Paused"] + div,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list [data-collapse-key$="Paused"] + div {
  order: 23;
}

.fogbugz-helper-fake-kanban-sorted #main .case-list,
.fogbugz-helper-fake-kanban-sorted #main2 .case-list {
  display: flex;
  flex-direction: row;
}

.fogbugz-helper-fake-kanban-sorted .list-group-body {
  flex: 1;
  padding: 5px;
  border: 1px solid #000;
  margin-right: 5px;
  background: #eee;
  border-radius: 3px;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid:before {
  content: attr(data-group-name);
  display: table-caption;
  background: #fff;
  padding: .5em;
  width: auto;
  margin-bottom: 5px;
  border: 2px solid #000;
  border-radius: 3px;
}

.fogbugz-helper-fake-kanban-sorted .case-list {
  max-width: 100%;
}

.fogbugz-helper-fake-kanban-sorted .case-list tr.bug-grid-row {
  height: auto;
  margin-bottom: 5px;
  display: block;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 3px;
}

.fogbugz-helper-fake-kanban-sorted .case-list .grid-column-contents {
  padding: 0;
}

.fogbugz-helper-fake-kanban-sorted .case-list .grid-column-Case a {
  text-decoration: underline;
}

.fogbugz-helper-fake-kanban-sorted .case-list .grid-column-Case:after {
  content: ":";
}

.fogbugz-helper-fake-kanban-sorted .case-list td {
  white-space: normal;
}

.fogbugz-helper-fake-kanban-sorted .list-group-header {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-row td,
.fogbugz-helper-fake-kanban-sorted .bug-grid-row div {
  display: inline;
  width: auto;
  height: auto;
}

.fogbugz-helper-fake-kanban-sorted .case-list tr.bug-grid-row .grid-title-col,
.fogbugz-helper-fake-kanban-sorted .case-list .grid-column-contents {
  overflow: visible;
  white-space: normal;
}

.fogbugz-helper-fake-kanban-sorted .grid-title-col .context-menu-show {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-header {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-row .grid-row-checkbox {
  margin: 0;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-row .icon {
  vertical-align: super;
}

.fogbugz-helper-fake-kanban-sorted .case-list tr.bug-grid-row .icon {
  font-size: 9px;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-row .grid-column-Favorite {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-row .grid-column-Status {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-row .grid-title-extra {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .bug-grid-row .spacer-cell {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .arrow {
  display: none;
}

.fogbugz-helper-fake-kanban-sorted .person:before {
  content: "(";
}

.fogbugz-helper-fake-kanban-sorted .person:after {
  content: ")";
}

.fogbugz-helper-fake-kanban-sorted .case-list tr.bug-grid-row[data-depth="1"] .grid-title-col,
.fogbugz-helper-fake-kanban-sorted .case-list tr.bug-grid-row[data-depth="2"] .grid-title-col {
  padding-left: 0;
}

  /* //////////////////////////
 // Expand Task List
////////////////////////// */

.fogbugz-helper-expand-tasks #event-tracking-div .case-list th,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list th,
.fogbugz-helper-expand-tasks #event-tracking-div .case-list td,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list td,
.fogbugz-helper-expand-tasks #event-tracking-div .case-list .wiki-grid-header,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list .wiki-grid-header,
.fogbugz-helper-expand-tasks #event-tracking-div .case-list .wiki-grid-column,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list .wiki-grid-column {
  white-space: normal;
}

.fogbugz-helper-expand-tasks #event-tracking-div .case-list tr.bug-grid-row .grid-title-col,

.fogbugz-helper-expand-tasks #event-tracking-div td div {
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
}

.fogbugz-helper-expand-tasks #event-tracking-div td {
  vertical-align: top;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer {
  display: inline-block;
  height: auto;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer > .list-add-case {
  padding: .25em .5em;
  margin: 0;
  background: rgba(255, 255, 255, .8);
  border-radius: .25em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer > .list-add-case:before {
  display: inline-block;
  font-size: 13px;
  transform: scale(.8, .8);
  margin-right: .2em;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer {
  margin: 0;
}

  /* //////////////////////////
 // Reverse Comments
////////////////////////// */

.fogbugz-helper-reverse-comments #formEditCase > .events {
  display: flex;
  flex-direction: column-reverse;
}

  /* //////////////////////////
 // Ticket Tweaks
////////////////////////// */
.fogbugz-helper-ticket-tweaks #stacking-context-main>#main {
  padding-bottom: 30px;
}

.fogbugz-helper-ticket-tweaks #header.thunder-header.has-custom-logo {
  min-width: 0;
}

.fogbugz-helper-ticket-tweaks .contains-customfield textarea {
  min-height: 150px;
}

.fogbugz-helper-ticket-tweaks .subscribers-list .expander {
  display: none;
}

.fogbugz-helper-ticket-tweaks .subscribers-list .elided {
  display: inline;
}

/* Container */
.fogbugz-helper-ticket-tweaks section.case {
  width: auto;
}

.fogbugz-helper-ticket-tweaks #formEditCase {
  position: relative;
}

.fogbugz-helper-ticket-tweaks #formEditCase > div,
.fogbugz-helper-ticket-tweaks #formEditCase > section {
  margin: 0;
  width: auto;
}

/* Top */
.fogbugz-helper-ticket-tweaks #formEditCase > .top {
  float: none;
  width: 100%;
  display: table;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > .left {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > header,
.fogbugz-helper-ticket-tweaks #main2 section.case #formEditCase .top>header,
.fogbugz-helper-ticket-tweaks #main section.case #formEditCase .top>header {
  border-left: none;
  width: auto;
  float: none;
  display: table-cell;
  width: 100%;
  vertical-align: top;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > header+header,
.fogbugz-helper-ticket-tweaks #main2 section.case #formEditCase .top>header+header,
.fogbugz-helper-ticket-tweaks #main section.case #formEditCase .top>header+header {
  display: table-caption;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > header > .field.wide:first-child {
  position: relative;
  min-height: 2.3em;
  padding: 0;
  margin: 0 10px 5px 10px;
  display: block;
  width: auto;
  float: none;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > header > .field.wide:first-child input {
  position: absolute;
  left: 0;
  top: 0;
  right: 10px;
  display: block;
}

.fogbugz-helper-ticket-tweaks #formEditCase .field {
}

/* BugzID */
.fogbugz-helper-ticket-tweaks #main2 section.case .corner a.case,
.fogbugz-helper-ticket-tweaks #main section.case .corner a.case {
  margin-bottom: 0;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .left {
  height: auto;
  width: 200px;
  margin-right: -200px;
  position: relative;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .left > * {
  padding: 0;
  margin: 10px 0;
}

/* Comment */
.fogbugz-helper-ticket-tweaks #formEditCase > .events {
  float: right;
  padding-left: 210px;
  width: 100%;
}

/* Comments */
.fogbugz-helper-ticket-tweaks #formEditCase > #eventList-0 {
  float: right;
  padding-left: 210px;
  width: 100%;
}

/* Events */
.fogbugz-helper-ticket-tweaks .event .editor > textarea {
  height: auto;
}

.fogbugz-helper-ticket-tweaks .events .event header > div {
  display: none;
}

.fogbugz-helper-ticket-tweaks .events .event header:hover {
  position: relative;
  z-index: 100;
}

.fogbugz-helper-ticket-tweaks .events .event header:hover > div {
  display: block;
  position: absolute;
  left: 2em;
  background: #f6f6f6;
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: .5em;
}

.fogbugz-helper-ticket-tweaks #sEvent {
  min-height: 0 !important;
}

/* Header colors */

.fogbugz-helper-ticket-tweaks #www-fogcreek-com-fogbugz #mainArea {
  padding-bottom: 0;
}

.fogbugz-helper-ticket-tweaks #stacking-context-main > #main {
  /*padding: 5.55em 1em 0.5em;*/
}

/* Ticket modal */

.fogbugz-helper-ticket-tweaks .case-lightbox-overlay {
  padding-left: 2em;
  padding-right: 2em;
}

.fogbugz-helper-ticket-tweaks .case-lightbox-overlay .case-lightbox {
  width: auto;
  /*max-width: none;*/
  min-width: 0;
}

.fogbugz-helper-ticket-tweaks section.case {
  width: auto;
  /*max-width: none;*/
  min-width: 0;
}

/* Responsive */

@media ( max-width: 1024px ) {
  /* Header */
  .fogbugz-helper-ticket-tweaks #header.thunder-header .main-header-bar {
    height: auto;
    display: table;
    width: 100%;
  }

  .fogbugz-helper-ticket-tweaks #header.thunder-header .main-nav {
    float: none;
  }

  .fogbugz-helper-ticket-tweaks #header.thunder-header .secondary-nav {
    position: static;
    float: right;
  }

  .fogbugz-helper-ticket-tweaks #header #below-banner {
    position: static;
  }

  .fogbugz-helper-ticket-tweaks #header.thunder-header .case-tools {
    float: none;
    display: inline;
    margin: 0;
  }

  .fogbugz-helper-ticket-tweaks #stacking-context-main > #main {
    padding-top: 10px;
  }
}

@media ( max-width: 765px ) {
  .fogbugz-helper-ticket-tweaks section.case,
  .fogbugz-helper-ticket-tweaks .case-lightbox-overlay .case-lightbox {
    min-width: 0;
    width: 100%;
  }

  .fogbugz-helper-ticket-tweaks #formEditCase > .top,
  .fogbugz-helper-ticket-tweaks #formEditCase > .top > .left,
  .fogbugz-helper-ticket-tweaks #formEditCase > .top > header,
  .fogbugz-helper-ticket-tweaks #main section.case #formEditCase .top>header {
    display: block;
  }

  .fogbugz-helper-ticket-tweaks section.case .left {
    margin: 10px 10px 0 10px;
    padding: 0;
  }

  .fogbugz-helper-ticket-tweaks section.case .corner a.case {
    font-size: 16px;
    font-weight: bold;
  }

  .fogbugz-helper-ticket-tweaks #formEditCase > .events {
    float: none;
    width: auto;
  }

  .fogbugz-helper-ticket-tweaks #formEditCase > .left {
    padding-left: 10px;
    width: 150px;
    position: relative;
    margin-right: -150px;
  }

  .fogbugz-helper-ticket-tweaks #formEditCase > #eventList-0 {
    padding-left: 160px;
    width: 100%;
  }

  .fogbugz-helper-ticket-tweaks .case-lightbox-overlay {
    position: static;
    overflow: auto;
  }

  body.fogbugz-helper-ticket-tweaks.noscroll {
    overflow: auto;
  }
}

@media ( max-width: 480px ) {
  .fogbugz-helper-ticket-tweaks section.case .field {
    width: auto;
    float: none;
    display: block;
  }

  #formEditCase {
    display: flex;
    flex-direction: column;
  }

  .fogbugz-helper-ticket-tweaks #formEditCase > .left {
    width: 100%;
    float: none;
    margin-left: 0;
    padding-right: 10px;
    order: 4;
  }

  .fogbugz-helper-ticket-tweaks #formEditCase > #eventList-0 {
    padding-left: 10px;
    width: 100%;
    float: none;
  }

  .fogbugz-helper-ticket-tweaks #main .case-list {
    display: block;
  }
}

  /* //////////////////////////
 // Hide Useless Stuff
////////////////////////// */

/* Ticket list */
.fogbugz-helper-hide-stuff a[title="Kanban Board"],
.fogbugz-helper-hide-stuff a[href$="pgVisualStudioAddIn"],
.fogbugz-helper-hide-stuff a[href$="pgVisualStudioAddIn"],
.fogbugz-helper-hide-stuff a[href$="pgListReleaseNotes"],
.fogbugz-helper-hide-stuff #versionFooter,
.fogbugz-helper-hide-stuff #case-list-mini-report,
.fogbugz-helper-hide-stuff #working-on-popup-link,
.fogbugz-helper-hide-stuff .nav-link[href$="sPluginId=kanbanboard%40ergonlabs.com"],
.fogbugz-helper-hide-stuff .personal-notifications,
.fogbugz-helper-hide-stuff .wiki,
.fogbugz-helper-hide-stuff .schedules,
.fogbugz-helper-hide-stuff .email-button,
.fogbugz-helper-hide-stuff .planner-button,
.fogbugz-helper-hide-stuff .product-menu {
  display: none !important;
}