
  /* //////////////////////////
 // Preferences
////////////////////////// */
#fogbugz-helper-prefs-menu,
#fogbugz-helper-features-menu {
  padding: 0;
  margin: .5em 1em;
}

#fogbugz-helper-prefs-menu {
  padding-bottom: .5em;
  margin: .5em 0;
}

#fogbugz-helper-prefs-menu:after {
  content: '';
  display: block;
  height: 0;
  border-bottom: 1px solid #bac2cc;
  margin: 5px 12px 0px 12px;
}

#fogbugz-helper-prefs-menu input {
  margin-right: .5em;
  vertical-align: text-top;
}

#fogbugz-helper-prefs-menu label {
  display: block;
  padding: 0 12px;
}

#fogbugz-helper-prefs-menu label:hover {
  background-color: #E0E9F1;
}

#header.thunder-header .dropdown-menu #fogbugz-helper-menu a {
  color: #39668e;
  font-weight: bold;
}

#header.thunder-header .dropdown-menu #fogbugz-helper-menu a:hover,
#header.thunder-header .dropdown-menu #fogbugz-helper-menu a:focus {
  text-decoration: underline;
}

  /* //////////////////////////
 // Use Stylesheet (for debugging)
////////////////////////// */
#fogbugz-helper-css {
  content: "loaded";
}

  /* //////////////////////////
 // Add background colors
////////////////////////// */

/* Need this here and in the modal ticket */
.fogbugz-helper-bgcolors #case-errors-container {
  background: #fff;
  padding: 1em;
  margin-bottom: .5em;
  border-radius: .5em;
}

.fogbugz-helper-bgcolors #header.thunder-header .main-header-bar {
  background: rgba(255, 255, 255, .85);
}

.fogbugz-helper-bgcolors #header.thunder-header .secondary-nav .menus {
  background: transparent;
}

.fogbugz-helper-bgcolors #header.thunder-header .button {
  background: rgba(255, 255, 255, .85);
}

.fogbugz-helper-bgcolors #belowBanner,
.fogbugz-helper-bgcolors #header #below-banner #below-nav {
  background: rgba(255, 255, 255, .85);
}

.fogbugz-helper-bgcolors #toolbar {
  background: rgba(255, 255, 255, .85);
  padding: .25em .5em;
  border-radius: .25em;
  line-height: 2;
}

.fogbugz-helper-bgcolors #box div.col {
  background: rgba(255, 255, 255, .9);
}

.fogbugz-helper-bgcolors #box div.li div.header {
  background: rgba(255, 255, 255, .9);
}

.fogbugz-helper-bgcolors #www-fogcreek-com-fogbugz,
.fogbugz-helper-bgcolors #main2,
.fogbugz-helper-bgcolors #main {
  color: #fff;
}

.fogbugz-helper-bgcolors #www-fogcreek-com-fogbugz div div,
.fogbugz-helper-bgcolors #main2 * div,
.fogbugz-helper-bgcolors #main * div {
  color: #000;
}

/* Colors */
#header li.fogbugz-helper-colors {
  padding: 0 1em;
}

.fogbugz-helper-colors button {
  margin: 2px;
  border-width: 1px;
}

.fogbugz-helper-colors input {
  display: block;
}

  /* //////////////////////////
 // Open Tickets in Modal
////////////////////////// */

/* Need this here and in the background colors */
.fogbugz-helper-tickets-in-modal #case-errors-container {
  background: #fff;
  padding: 1em;
  margin-bottom: .5em;
  border-radius: .5em;
}

.fogbugz-helper-tickets-in-modal #stacking-context-main > #main2 {
  padding: 5.55em 1em 0.5em;
}

.fogbugz-helper-tickets-in-modal.main-has-content {
  overflow: hidden;
}

.fogbugz-helper-tickets-in-modal.main-has-content #main {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  overflow: scroll;
}

.fogbugz-helper-tickets-in-modal .navigating #main {
  opacity: 0;
}

  /* //////////////////////////
 // Auto Sort 
////////////////////////// */
.fogbugz-helper-auto-sort #main2 .case-list {
  display: flex;
  flex-direction: column;
}

.fogbugz-helper-auto-sort #main2 .case-list > * {
  order: 100;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Triage"] {
  order: 0;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Triage"] + div {
  order: 1;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Released"] {
  order: 2;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Released"] + div {
  order: 3;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="QA"] {
  order: 4;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="QA"] + div {
  order: 5;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Review"] {
  order: 6;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Review"] + div {
  order: 7;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Development"] {
  order: 8;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Development"] + div {
  order: 9;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Planning"] {
  order: 10;
}

.fogbugz-helper-auto-sort #main2 .case-list [data-collapse-key$="Planning"] + div {
  order: 11;
}

  /* //////////////////////////
 // Fake Kanban
////////////////////////// */

.fogbugz-helper-fake-kanban #main .case-list,
.fogbugz-helper-fake-kanban #main2 .case-list {
  display: flex;
  flex-direction: column;
}

.fogbugz-helper-fake-kanban #main .case-list > *,
.fogbugz-helper-fake-kanban #main2 .case-list > * {
  order: 100;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Triage"],
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Triage"] {
  order: 0;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Triage"] + div,
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Triage"] + div {
  order: 1;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Planning"],
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Planning"] {
  order: 2;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Planning"] + div,
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Planning"] + div {
  order: 3;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Development"],
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Development"] {
  order: 4;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Development"] + div,
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Development"] + div {
  order: 5;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Review"],
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Review"] {
  order: 6;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Review"] + div,
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Review"] + div {
  order: 7;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="QA"],
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="QA"] {
  order: 8;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="QA"] + div,
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="QA"] + div {
  order: 9;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Released"],
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Released"] {
  order: 10;
}

.fogbugz-helper-fake-kanban #main .case-list [data-collapse-key$="Released"] + div,
.fogbugz-helper-fake-kanban #main2 .case-list [data-collapse-key$="Released"] + div {
  order: 11;
}

.fogbugz-helper-fake-kanban #main .case-list,
.fogbugz-helper-fake-kanban #main2 .case-list {
  display: flex;
  flex-direction: row;
}

.fogbugz-helper-fake-kanban .list-group-body {
  flex: 1;
  padding: 5px;
  border: 1px solid #000;
  margin-right: 5px;
  background: #eee;
  border-radius: 3px;
}

.fogbugz-helper-fake-kanban .bug-grid:before {
  content: attr(data-group-name);
  display: table-caption;
  background: #fff;
  padding: .5em;
  width: auto;
  margin-bottom: 5px;
  border: 2px solid #000;
  border-radius: 3px;
}

.fogbugz-helper-fake-kanban .case-list {
  max-width: 100%;
}

.fogbugz-helper-fake-kanban .case-list tr.bug-grid-row {
  height: auto;
  margin-bottom: 5px;
  display: block;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 3px;
}

.fogbugz-helper-fake-kanban .case-list .grid-column-contents {
  padding: 0;
}

.fogbugz-helper-fake-kanban .case-list .grid-column-Case a {
  text-decoration: underline;
}

.fogbugz-helper-fake-kanban .case-list .grid-column-Case:after {
  content: ":";
}

.fogbugz-helper-fake-kanban .case-list td {
  white-space: normal;
}

.fogbugz-helper-fake-kanban .list-group-header {
  display: none;
}

.fogbugz-helper-fake-kanban .bug-grid-row td,
.fogbugz-helper-fake-kanban .bug-grid-row div {
  display: inline;
  width: auto;
  height: auto;
}

.fogbugz-helper-fake-kanban .case-list tr.bug-grid-row .grid-title-col,
.fogbugz-helper-fake-kanban .case-list .grid-column-contents {
  overflow: visible;
  white-space: normal;
}

.fogbugz-helper-fake-kanban .grid-title-col .context-menu-show {
  display: none;
}

.fogbugz-helper-fake-kanban .bug-grid-header {
  display: none;
}

.fogbugz-helper-fake-kanban .bug-grid-row .grid-row-checkbox {
  display: none;
}

.fogbugz-helper-fake-kanban .case-list tr.bug-grid-row .icon {
  font-size: 9px;
}

.fogbugz-helper-fake-kanban .bug-grid-row .grid-column-Favorite {
  display: none;
}

.fogbugz-helper-fake-kanban .bug-grid-row .grid-column-Status {
  display: none;
}

.fogbugz-helper-fake-kanban .bug-grid-row .grid-title-extra {
  display: none;
}

.fogbugz-helper-fake-kanban .bug-grid-row .spacer-cell {
  display: none;
}

.fogbugz-helper-fake-kanban .arrow {
  display: none;
}

.fogbugz-helper-fake-kanban .person:before {
  content: "(";
}

.fogbugz-helper-fake-kanban .person:after {
  content: ")";
}

.fogbugz-helper-fake-kanban .case-list tr.bug-grid-row[data-depth="1"] .grid-title-col,
.fogbugz-helper-fake-kanban .case-list tr.bug-grid-row[data-depth="2"] .grid-title-col {
  padding-left: 0;
}

  /* //////////////////////////
 // Expand Task List
////////////////////////// */

.fogbugz-helper-expand-tasks #event-tracking-div .case-list th,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list th,
.fogbugz-helper-expand-tasks #event-tracking-div .case-list td,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list td,
.fogbugz-helper-expand-tasks #event-tracking-div .case-list .wiki-grid-header,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list .wiki-grid-header,
.fogbugz-helper-expand-tasks #event-tracking-div .case-list .wiki-grid-column,
.fogbugz-helper-expand-tasks #event-tracking-div .wiki-page-list .wiki-grid-column {
  white-space: normal;
}

.fogbugz-helper-expand-tasks #event-tracking-div .case-list tr.bug-grid-row .grid-title-col,

.fogbugz-helper-expand-tasks #event-tracking-div td div {
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
}

.fogbugz-helper-expand-tasks #event-tracking-div td {
  vertical-align: top;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer {
  display: inline-block;
  height: auto;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer > .list-add-case {
  padding: .25em .5em;
  margin: 0;
  background: rgba(255, 255, 255, .8);
  border-radius: .25em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer > .list-add-case:before {
  display: inline-block;
  font-size: 13px;
  transform: scale(.8, .8);
  margin-right: .2em;
}

.fogbugz-helper-expand-tasks .case-list .list-group-footer {
  margin: 0;
}

  /* //////////////////////////
 // Ticket Tweaks
////////////////////////// */
.fogbugz-helper-ticket-tweaks #stacking-context-main>#main {
  padding-bottom: 30px;
}

.fogbugz-helper-ticket-tweaks #header.thunder-header.has-custom-logo {
  min-width: 0;
}

.fogbugz-helper-ticket-tweaks .contains-customfield textarea {
  min-height: 150px;
}

.fogbugz-helper-ticket-tweaks #main .grid-column-TitleComment a {
  font-weight: bold;
}

.fogbugz-helper-ticket-tweaks .subscribers-list .expander {
  display: none;
}

.fogbugz-helper-ticket-tweaks .subscribers-list .elided {
  display: inline;
}

/* Container */
.fogbugz-helper-ticket-tweaks section.case {
  width: auto;
}

.fogbugz-helper-ticket-tweaks #formEditCase {
  position: relative;
}

.fogbugz-helper-ticket-tweaks #formEditCase > div,
.fogbugz-helper-ticket-tweaks #formEditCase > section {
  margin: 0;
  width: auto;
}

/* Top */
.fogbugz-helper-ticket-tweaks #formEditCase > .top {
  float: none;
  width: 100%;
  display: table;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > .left {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.fogbugz-helper-ticket-tweaks #main2 section.case #formEditCase .top>header,
.fogbugz-helper-ticket-tweaks #main section.case #formEditCase .top>header {
  border-left: none;
  width: auto;
  float: none;
  display: table-cell;
  width: 100%;
  vertical-align: top;
}

.fogbugz-helper-ticket-tweaks #main2 section.case #formEditCase .top>header+header,
.fogbugz-helper-ticket-tweaks #main section.case #formEditCase .top>header+header {
  display: table-caption;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > header > .field.wide:first-child {
  position: relative;
  min-height: 2.3em;
  padding: 0;
  margin: 0 10px 5px 10px;
  display: block;
  width: auto;
  float: none;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .top > header > .field.wide:first-child input {
  position: absolute;
  left: 0;
  top: 0;
  right: 10px;
  display: block;
}

.fogbugz-helper-ticket-tweaks #formEditCase .field {
}

/* BugzID */
.fogbugz-helper-ticket-tweaks #main2 section.case .corner a.case,
.fogbugz-helper-ticket-tweaks #main section.case .corner a.case {
  margin-bottom: 0;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .left {
  height: auto;
  width: auto;
  width: 25%;
}

.fogbugz-helper-ticket-tweaks #formEditCase > .left > * {
  padding: 0;
  margin: 10px 0;
}

/* Comment */
.fogbugz-helper-ticket-tweaks #formEditCase > .events {
  float: right;
  width: 75%;
}

/* Comments */
.fogbugz-helper-ticket-tweaks #formEditCase > #eventList-0 {
  float: right;
  width: 75%;
}

/* Events */
.fogbugz-helper-ticket-tweaks .event .editor > textarea {
  height: auto;
}

.fogbugz-helper-ticket-tweaks .events .event header > div {
  display: none;
}

.fogbugz-helper-ticket-tweaks .events .event header:hover {
  position: relative;
  z-index: 100;
}

.fogbugz-helper-ticket-tweaks .events .event header:hover > div {
  display: block;
  position: absolute;
  left: 2em;
  background: #f6f6f6;
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: .5em;
}

.fogbugz-helper-ticket-tweaks #sEvent {
  min-height: 0 !important;
}

/* Header colors */

.fogbugz-helper-ticket-tweaks #www-fogcreek-com-fogbugz #mainArea {
  padding-bottom: 0;
}

.fogbugz-helper-ticket-tweaks #stacking-context-main > #main {
  padding: 5.55em 1em 0.5em;
}
