/* ------------------------------------------------------------
   Mono fonts
   --------------------------------------------------------- */

@font-face { /* http://emojione.com/developers/ */
  font-family: Emojione;
  src: local("EmojiOne BW"), local("EmojiOne"), local("Emoji One"),
       /*   https://cdn.rawgit.com/Ranks/emojione/master/assets/fonts/emojione-bw.otf – monochrome only, deprecated, removed
            https://cdn.rawgit.com/Ranks/emojione/master/assets/fonts/emojione-android.ttf – with hack
            https://cdn.rawgit.com/Ranks/emojione/master/assets/fonts/emojione-apple.ttf – with hack */
       url("https://cdn.rawgit.com/Ranks/emojione/master/assets/fonts/emojione-svg.woff2") format("woff2"),
       url("https://cdn.rawgit.com/Ranks/emojione/master/assets/fonts/emojione-svg.woff") format("woff"),
       url("https://cdn.rawgit.com/Ranks/emojione/master/assets/fonts/emojione-svg.otf") format("truetype");
}
@font-face { /* https://www.google.com/get/noto/#noto-emoji-zsye */
  font-family: Noto;
  src: local("Noto Emoji"), local("Noto Color Emoji"), local("Noto"),
       url("https://cdn.rawgit.com/googlei18n/noto-emoji/master/fonts/NotoEmoji-Regular.ttf");
}
@font-face { /* https://github.com/eosrei/twemoji-color-font/releases */
  font-family: Twemoji;
  src: local("Twemoji");
}
@font-face { /* http://users.teilar.gr/~g1951d/ */
  font-family: Symbola;
  src: local("Symbola");
}

  /* //////////////////////////
 // Preferences
////////////////////////// */
#jira-helper-prefs-menu,
#jira-helper-features-menu {
  padding: 0;
  margin: .5em 1em;
}

#jira-helper-prefs-menu {
  padding-bottom: .5em;
  margin: .5em 0;
}

#jira-helper-prefs-menu input {
  margin-right: .5em;
  vertical-align: text-top;
  position: absolute;
  left: 0;
  top: 2px;
}

#jira-helper-prefs-menu label {
  display: block;
  padding: 0 0 3px 20px;
  font-size: 13px;
  position: relative;
  line-height: 17px;
}

#jira-helper-prefs-menu label:hover {
  background-color: #E0E9F1;
}

#jira-helper-prefs-menu label .defind {
  font-size: 11px;
  opacity: .9;
}

#jira-helper-menu {
  padding: 0 20px;
  margin-top: 15px;
}

#jira-helper-menu a {
  color: #39668e;
  font-weight: bold;
}

#jira-helper-menu a:hover,
#jira-helper-menu a:focus {
  text-decoration: underline;
}

.jira-helper-tool {
  padding: .75em 0;
  border-top: 1px solid #bac2cc;
}

#jira-helper-menu .jira-helper-headline {
  margin: 0 0 .25em 0;
  text-transform: capitalize;
}

  /* //////////////////////////
 // Hotfix tooltip
////////////////////////// */

.jira_helper_tooltip {
  position: absolute;

  display: block;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: #555;
  border-radius: 4px;
  background: #f6f6f6;
  padding: 4px 5px;
  border: 1px solid #ccc;

  -webkit-appearance: none;
  cursor: pointer;
}

.jira_helper_tooltip:hover {
  background-color: #ddd;
}

.jira_helper_tooltip:before {
  content: "💕";
  font-family: Emojione, Noto, Twemoji, Symbola;
  color: #80a1bd;
  display: inline-block;
  margin-right: 4px;
}

  /* //////////////////////////
 // Show priority text
////////////////////////// */

/* Add priority text next to arrows*/

/* Kanban */
.jira-helper-priority-text [data-tooltip$="priority"]:after {
  content: attr(data-tooltip);
}

/* List */
.jira-helper-priority-text .priority img[alt="Highest"] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14">Highest</text></svg>');
  padding-right: 55px;
}

.jira-helper-priority-text .priority img[alt="High"] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14">High</text></svg>');
  padding-right: 35px;
}

.jira-helper-priority-text .priority img[alt="Medium"] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14">Medium</text></svg>');
  padding-right: 55px;
}

.jira-helper-priority-text .priority img[alt="Low"] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14">Low</text></svg>');
  padding-right: 30px;
}

.jira-helper-priority-text .priority img[alt="Lowest"] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14">Lowest</text></svg>');
  padding-right: 60px;
}

.jira-helper-priority-text .priority img[alt="Needs Priority"] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14">Needs Priority</text></svg>');
  padding-right: 60px;
}

.jira-helper-priority-text .priority img[alt="No Priority"] {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14">No Priority</text></svg>');
  padding-right: 60px;
}

.jira-helper-priority-text .priority.priority img {
  background-position-x: 20px;
  background-repeat: no-repeat;
}

/* Backlog */
.jira-helper-priority-text .ghx-priority:after {
  content: attr(title);
  display: inline-block;
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: text-top;
  margin-left: 3px;
}

  /* //////////////////////////
 // Hide status icons
////////////////////////// */

/* List */
.jira-helper-remove-status-icons [data-tooltip$="priority"] img {
  display: none;
}

.jira-helper-remove-status-icons [data-tooltip$="priority"]:after {
  display: inline-block;
  padding: 0 4px;
  border-radius: 3px;
  background: rgb(154, 161, 178);
  color: #fff;
}

.jira-helper-remove-status-icons [data-tooltip^="Highest"]:after {
  background: rgb(206, 0, 0);
}

.jira-helper-remove-status-icons [data-tooltip^="High "]:after {
  background: rgb(234, 68, 68);
}

.jira-helper-remove-status-icons [data-tooltip^="Medium"]:after {
  background: rgb(234, 125, 36);
}

.jira-helper-remove-status-icons [data-tooltip^="Low "]:after {
  background: rgb(42, 135, 53);
}

.jira-helper-remove-status-icons [data-tooltip^="Lowest"]:after {
  background: rgb(85, 165, 87);
}

/* Backlog */
.jira-helper-remove-status-icons .ghx-priority img {
  display: none;
}

.jira-helper-remove-status-icons .ghx-priority:after {
  padding: 0 4px;
  border-radius: 3px;
  background: rgb(154, 161, 178);
  color: #fff;
}

.jira-helper-remove-status-icons .ghx-priority[title="Highest"]:after {
  background: rgb(206, 0, 0);
}

.jira-helper-remove-status-icons .ghx-priority[title="High"]:after {
  background: rgb(234, 68, 68);
}

.jira-helper-remove-status-icons .ghx-priority[title="Medium"]:after {
  background: rgb(234, 125, 36);
}

.jira-helper-remove-status-icons .ghx-priority[title="Low"]:after {
  background: rgb(42, 135, 53);
}

.jira-helper-remove-status-iconst .ghx-priority[title="Lowest"]:after {
  background: rgb(85, 165, 87);
}

/* List */
.jira-helper-remove-status-icons .priority img[alt] {
  background-color: rgb(154, 161, 178);
}

.jira-helper-remove-status-icons .priority img[alt="Highest"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14" fill="rgb(255,255,255)">Highest</text></svg>');
  background-color: rgb(206, 0, 0);
  padding-right: 57px;
}

.jira-helper-remove-status-icons .priority img[alt="High"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14" fill="rgb(255,255,255)">High</text></svg>');
  background-color: rgb(234, 68, 68);
  padding-right: 37px;
}

.jira-helper-remove-status-icons .priority img[alt="Medium"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14" fill="rgb(255,255,255)">Medium</text></svg>');
  background-color: rgb(234, 125, 36);
  padding-right: 57px;
}

.jira-helper-remove-status-icons .priority img[alt="Low"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14" fill="rgb(255,255,255)">Low</text></svg>');
  background-color: rgb(42, 135, 53);
  padding-right: 32px;
}

.jira-helper-remove-status-icons .priority img[alt="Lowest"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14" fill="rgb(255,255,255)">Lowest</text></svg>');
  background-color: rgb(85, 165, 87);
  padding-right: 62px;
}

.jira-helper-remove-status-icons .priority img[alt="Needs Priority"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14" fill="rgb(255,255,255)">Needs Priority</text></svg>');
  padding-right: 62px;
}

.jira-helper-remove-status-icons .priority img[alt="No Priority"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="94" height="16"><text transform="translate(0 12)" font-family="Arial" font-size="14" fill="rgb(255,255,255)">No Priority</text></svg>');
  padding-right: 62px;
}

.jira-helper-remove-status-icons .priority.priority img {
  padding: 18px 39px 0 0;
  background-position: 4px 2px;
  height: 0;
  border-radius: 3px;
}


  /* //////////////////////////
 // Sort Order (new JIRA ticket view)
////////////////////////// */

.jira-helper-reverse-comments [data-test-id="issue.activity.comments-list"] {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0
}

.jira-helper-reverse-comments [data-test-id="issue.views.issue-details.issue-layout.left-most-column"] > div:nth-child(4) > span:nth-child(3)  {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 24px;
}

  /* //////////////////////////
 // Ticket Tweaks (new JIRA ticket view)
////////////////////////// */

.jira-helper-new-ticket-tweaks [data-test-id="issue.activity.comments-list"] > div {
  border-top: solid 2px #ebecf0;
  padding: 15px 0 !important;
}

/* Show all our statuses in the dropdown */
.jira-helper-new-ticket-tweaks [data-test-id="issue.views.issue-base.foundation.status.status-field-wrapper"] > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
  max-height: 440px !important;
}

  /* //////////////////////////
 // Open external links in new tab
////////////////////////// */

.jira-helper-external-links a[href]:not([href^="https://ziprecruiter.atlassian.net/"]):not([href^="/"]):not([href^="#"]):after {
  font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
  content: "↗️";
}

  /* //////////////////////////
 // Re-order Statuses
////////////////////////// */

.jira-helper-re-order-statuses [data-test-id="issue.views.issue-base.foundation.status.status-field-wrapper"] > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}

/* Planning */
[data-status-section="1"] {
  order: 100;
}

[data-status="Backlog"] {
  order: 101;
}

[data-status="Paused"] {
  order: 102;
}

[data-status="Planning"] {
  order: 103;
}

[data-status="Ready for Work"] {
  order: 104;
}

/* In progress */
[data-status-section="2"] {
  order: 200;
}

[data-status="Work in Progress"] {
  order: 202;
}

[data-status="Ready for Master"] {
  order: 203;
}

[data-status="In Review"] {
  order: 204;
}

[data-status="In QA"] {
  order: 206;
}

[data-status="Failed QA"] {
  order: 207;
}

[data-status="Ready for Prod"] {
  order: 208;
}

[data-status="Released"] {
  order: 209;
}

/* closed */
[data-status-section="3"] {
  order: 300;
}

  /* //////////////////////////
 // PONY MODE
////////////////////////// */

@keyframes DASH {
  from {left: 100%}
  to {left: -29px}
}

.jira-helper-PONY-MODE:after {
  content: "";
  background: url('data:image/gif;base64,R0lGODlhHQAcAMQQAJ3b+H+74hic1/RwMu89Q4rF7GO+SQAAAPr4smYvjfj2s6wibIkbV2C9UPn5+a+vvP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwAQACwAAAAAHQAcAAAF6yAkjmRpnqagrmhLqkQcD8IYuKUgy0NfB4AbDqKLCXrIgUIADOKKqqRKoWg6h0cplQrsYqXTFSB4dWVVY/R43K21juq1fB1QmWnrg34vFxjcKCpNBwwMDg8Hc36AJz9rhYZ6fX8vdiRWC5kOiWsqlCICCaKAQAVjmQsOfYtufgZ/CW5Wc4osAgg9CLCyZLSdlkczCKGkvr+xAckEEAQDuibJ0clpCdF0zM6fKFZMbNYBzQgNjNByXebgzuMuswEF7+9d4est7fAF0vOW0NPe0nTq6tGS1s8bORvohFwyt+8SvGT1HtaTxo6iiBAAIfkECQ8AEAAsAAAAAB0AHAAABfMgJIpCaY5oqo4l4bqDMAZrLbzvoMsBQNeom0ugKw4Ugp4PSBoSiyWFQrlkkowxqbTHtUKeu6gJ4KsynyVymkzmyoDENXvODpTOMfZhz58LDG82SWQHDAwODwd0f4ErPGyGh3t+gEF3KFQLmg6KbCWVJAmigT0FZJoLDn6Mb38GgAlvVHSLJwIIOgiwsmW0npdEMAgCsTO+v7EBygQQBAO6KsrSymoJ0nXNz6A1VIM+1wHOCA2N0XNc5+HP5EyzAQXw8Fzi7EDu8QXT9Jfc6dc+RMZ5oTLt3JdhXiAQVIiNBD97bPItTJjinTyL+ShGmyatRggAOw==');
  position: absolute;
  left: -29px;
  top: 10px;
  width: 29px;
  height: 28px;
  display: block;
  animation-name: DASH;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  z-index: 10000;
  animation-delay: 5s;
}
